<a href="https://colab.research.google.com/github/Daru31/PythonWorkspace/blob/Practice/%EC%9A%B8%EC%82%B0%EA%B3%A0%EB%93%B1%ED%95%99%EA%B5%90.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
number = 100
number += 10
number += 20
number += 30
print(number)

160

In [10]:
s = "안녕하세요"
s += "!"
print(s)

안녕하세요!

In [11]:
x = -6
y = 3

x += 2
y -= 1

print(x + y)

-2

In [12]:
print(5 + 2)
print(5 * 2)
print(5 / 2)
print(5 % 2)
print(5 // 2)
print(5 ** 2)

7
10
2.5
1
2
25

In [13]:
print('#기본적인 연산 ')
print(15, "+", 4, "=", 15 + 4)
print(15, "-", 4, "=", 15 - 4)
print(15, "*", 4, "=", 15 * 4)
print(15, "/", 4, "=", 15 / 4)

#기본적인 연산
15 + 4 = 19
15 - 4 = 11
15 * 4 = 60
15 / 4 = 3.75

SyntaxError: invalid syntax (<ipython-input-19-34af76c15fe0>, line 1)

In [16]:
a = 10//3
a = 10 % 3
c = 2 ** 4
print(a + a + c)

20

In [18]:
print(10 / (10 % 6))

2.5

In [20]:
a = 80
b = 75
c = 55
print((a + b + c) / 3 )

70.0

In [22]:
pi = 3.1415926535
print(round(pi,2))

3.14

In [32]:
print("Hello \n my name is")
print("Hello \nmy name is kwon \nWhat are you doing?")

Hello
 my name is
Hello
my name is kwon
What are you doing?

In [34]:
print('''hello
world ''')

hello
world

In [38]:
print("Hello  my name is")
print("Hello    my name is")
print("Hello \t my name is")

Hello  my name is
Hello    my name is
Hello 	 my name is

In [40]:
print(''''응답하라 1988'은 많은 시청자들에게 사랑을 받은 드라마예요.
데카르트는 "나는 생각한다. 고로 존재한다."라고 말했다.
I'm excited to learn Python!
영화 '신세계' 에서 "드루와~"라는 대사가 유행했다.''')

'응답하라 1988'은 많은 시청자들에게 사랑을 받은 드라마예요.
데카르트는 "나는 생각한다. 고로 존재한다."라고 말했다.
I'm excited to learn Python!
영화 '신세계' 에서 "드루와~"라는 대사가 유행했다.

In [42]:
print("이름\t나이\t지역")
print("윤인성\t25\t강서구")
print("윤아린\t24\t강서구")
print("구름\t3\t강서구")

이름	나이	지역
윤인성	25	강서구
윤아린	24	강서구
구름	3	강서구

In [44]:
print("문자 선택 연산자에 대해 알아볼까요?")
print("안녕하세요"[0])
print("안녕하세요"[1])
print("안녕하세요"[2])
print("안녕하세요"[3])
print("안녕하세요"[4])

문자 선택 연산자에 대해 알아볼까요?
안
녕
하
세
요

In [46]:
print("문자를 뒤에서부터 선택해 볼까요?")
print("안녕하세요"[-1])
print("안녕하세요"[-2])
print("안녕하세요"[-3])
print("안녕하세요"[-4])
print("안녕하세요"[-5])

문자를 뒤에서부터 선택해 볼까요?
요
세
하
녕
안

In [47]:
print("안녕하세요"[1:4])

녕하세

In [49]:
print("안녕하세요"[0:2])
print("안녕하세요"[1:3])
print("안녕하세요"[2:4])

안녕
녕하
하세

In [50]:
print("안녕하세요"[1:])
print("안녕하세요"[:3])

녕하세요
안녕하

In [53]:
s = "Have a good day!"
print(s [:4])
print(s [7:])
print(s[:])

Have
good day!
Have a good day!

In [55]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
print(b)

print(a [:4])

Life
Life

In [57]:
s = "PYTHON"
print(s [::-1])

NOHTYP

In [59]:
a = "Hello Python Programming...!"
len(a)

28

In [61]:
a = "Hello Python Programming...!"
print(a.upper())

HELLO PYTHON PROGRAMMING...!

In [63]:
print(5 > 2)
print(5 == 2)
print(5 == str(5))

True
False
True

In [65]:
print("가방" == "가방")
print("가방" != "하마")
print("가방" < "하마")
print("가방" > "하마")

True
True
True
False

In [67]:
x = True
y = False
print(x or y)

True

In [68]:
print(5 > 2 and 7 < 4)
print(5 > 2 or 7 < 4)
print(not 5 > 2)

False
True
False

In [71]:
print(int(2.5) + int(3.8) > int(str(1) + str(2)))
print((12 >= 10 and not 3 > 4) or 3 ** 2 != 9)
print(True and (True or False))
print(not True or (True and False))
print(False == False)

False
True
True
False
True
False

In [74]:
print('1 + 2 = %d'%(1+2))
print('%d'%3.14)
print('%f'%3.14)
print('원주율은 %.2f입니다.'%3.14)
print('안녕하세요.%s'%'만나서 반갑습니다.')

1 + 2 = 3
3
3.140000
원주율은 3.14입니다.
안녕하세요.만나서 반갑습니다.

In [77]:
print('제 생일은 %d월 %d일입니다.'%(6,1))
print('원주율 %.2f * 원의 지름 %d = 원의 둘레는 %.2f입니다.'%(3.14, 3, 3.14*3))
print("오늘의 날씨는 %s으로 최저 기온은 %d도, 최고 기온은 %d입니다."%("맑음", 15, 19))

제 생일은 6월 1일입니다.
원주율 3.14 * 원의 지름 3 = 원의 둘레는 9.42입니다.
오늘의 날씨는 맑음으로 최저 기온은 15도, 최고 기온은 19입니다.

In [78]:
print("제 생일은 {0}월 {1}일입니다.".format(6, 1))
print("원주율 {0} * 원의 지름 {1} = 원의 둘레 {2} 입니다.".format(3.14 ,3, 3.14*3))
print("오늘의 날씨는 {0}으로 최저 기온은 {1}도, 최고 기온은 19도 입니다.".format("맑음", 15, 19))

제 생일은 6월 1일입니다.
원주율 3.14 * 원의 지름 3 = 원의 둘레 9.42 입니다.
오늘의 날씨는 맑음으로 최저 기온은 15도, 최고 기온은 19도 입니다.

In [80]:
print("저는 {0}, {1}, {2}를 좋아합니다!".format("아이브", "뉴진스", "아일릿"))
print("저는 {2}, {1}, {0}를 좋아합니다!".format("아이브", "뉴진스", "아일릿"))

저는 아이브, 뉴진스, 아일릿를 좋아합니다!
저는 아일릿, 뉴진스, 아이브를 좋아합니다!