<a href="https://colab.research.google.com/github/Daru31/PythonWorkspace/blob/master/%EC%BB%A8%ED%85%8C%EC%9D%B4%EB%84%88%ED%98%95_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
number = 100
number += 10
number += 20
number += 30
print(number)

160

In [ ]:
s = "안녕하세요"
s += "!"
print(s)

안녕하세요!

In [ ]:
x = -6
y = 3

x += 2
y -= 1

print(x + y)

-2

In [ ]:
print(5 + 2)
print(5 * 2)
print(5 / 2)
print(5 % 2)
print(5 // 2)
print(5 ** 2)

7
10
2.5
1
2
25

In [ ]:
print('#기본적인 연산 ')
print(15, "+", 4, "=", 15 + 4)
print(15, "-", 4, "=", 15 - 4)
print(15, "*", 4, "=", 15 * 4)
print(15, "/", 4, "=", 15 / 4)

#기본적인 연산
15 + 4 = 19
15 - 4 = 11
15 * 4 = 60
15 / 4 = 3.75

SyntaxError: invalid syntax (<ipython-input-19-34af76c15fe0>, line 1)

In [ ]:
a = 10//3
a = 10 % 3
c = 2 ** 4
print(a + a + c)

20

In [ ]:
print(10 / (10 % 6))

2.5

In [ ]:
a = 80
b = 75
c = 55
print((a + b + c) / 3 )

70.0

In [ ]:
pi = 3.1415926535
print(round(pi,2))

3.14

In [ ]:
print("Hello \n my name is")
print("Hello \nmy name is kwon \nWhat are you doing?")

Hello
 my name is
Hello
my name is kwon
What are you doing?

In [ ]:
print('''hello
world ''')

hello
world

In [ ]:
print("Hello  my name is")
print("Hello    my name is")
print("Hello \t my name is")

Hello  my name is
Hello    my name is
Hello 	 my name is

In [ ]:
print(''''응답하라 1988'은 많은 시청자들에게 사랑을 받은 드라마예요.
데카르트는 "나는 생각한다. 고로 존재한다."라고 말했다.
I'm excited to learn Python!
영화 '신세계' 에서 "드루와~"라는 대사가 유행했다.''')

'응답하라 1988'은 많은 시청자들에게 사랑을 받은 드라마예요.
데카르트는 "나는 생각한다. 고로 존재한다."라고 말했다.
I'm excited to learn Python!
영화 '신세계' 에서 "드루와~"라는 대사가 유행했다.

In [ ]:
print("이름\t나이\t지역")
print("윤인성\t25\t강서구")
print("윤아린\t24\t강서구")
print("구름\t3\t강서구")

이름	나이	지역
윤인성	25	강서구
윤아린	24	강서구
구름	3	강서구

In [ ]:
print("문자 선택 연산자에 대해 알아볼까요?")
print("안녕하세요"[0])
print("안녕하세요"[1])
print("안녕하세요"[2])
print("안녕하세요"[3])
print("안녕하세요"[4])

문자 선택 연산자에 대해 알아볼까요?
안
녕
하
세
요

In [ ]:
print("문자를 뒤에서부터 선택해 볼까요?")
print("안녕하세요"[-1])
print("안녕하세요"[-2])
print("안녕하세요"[-3])
print("안녕하세요"[-4])
print("안녕하세요"[-5])

문자를 뒤에서부터 선택해 볼까요?
요
세
하
녕
안

In [ ]:
print("안녕하세요"[1:4])

녕하세

In [ ]:
print("안녕하세요"[0:2])
print("안녕하세요"[1:3])
print("안녕하세요"[2:4])

안녕
녕하
하세

In [ ]:
print("안녕하세요"[1:])
print("안녕하세요"[:3])

녕하세요
안녕하

In [ ]:
s = "Have a good day!"
print(s [:4])
print(s [7:])
print(s[:])

Have
good day!
Have a good day!

In [ ]:
a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
print(b)

print(a [:4])

Life
Life

In [ ]:
s = "PYTHON"
print(s [::-1])

NOHTYP

In [ ]:
a = "Hello Python Programming...!"
len(a)

28

In [ ]:
a = "Hello Python Programming...!"
print(a.upper())

HELLO PYTHON PROGRAMMING...!

In [ ]:
print(5 > 2)
print(5 == 2)
print(5 == str(5))

True
False
True

In [ ]:
print("가방" == "가방")
print("가방" != "하마")
print("가방" < "하마")
print("가방" > "하마")

True
True
True
False

In [ ]:
x = True
y = False
print(x or y)

True

In [ ]:
print(5 > 2 and 7 < 4)
print(5 > 2 or 7 < 4)
print(not 5 > 2)

False
True
False

In [ ]:
print(int(2.5) + int(3.8) > int(str(1) + str(2)))
print((12 >= 10 and not 3 > 4) or 3 ** 2 != 9)
print(True and (True or False))
print(not True or (True and False))
print(False == False)

False
True
True
False
True
False

In [ ]:
print('1 + 2 = %d'%(1+2))
print('%d'%3.14)
print('%f'%3.14)
print('원주율은 %.2f입니다.'%3.14)
print('안녕하세요.%s'%'만나서 반갑습니다.')

1 + 2 = 3
3
3.140000
원주율은 3.14입니다.
안녕하세요.만나서 반갑습니다.

In [ ]:
print('제 생일은 %d월 %d일입니다.'%(6,1))
print('원주율 %.2f * 원의 지름 %d = 원의 둘레는 %.2f입니다.'%(3.14, 3, 3.14*3))
print("오늘의 날씨는 %s으로 최저 기온은 %d도, 최고 기온은 %d입니다."%("맑음", 15, 19))

제 생일은 6월 1일입니다.
원주율 3.14 * 원의 지름 3 = 원의 둘레는 9.42입니다.
오늘의 날씨는 맑음으로 최저 기온은 15도, 최고 기온은 19입니다.

In [ ]:
print("제 생일은 {0}월 {1}일입니다.".format(6, 1))
print("원주율 {0} * 원의 지름 {1} = 원의 둘레 {2} 입니다.".format(3.14 ,3, 3.14*3))
print("오늘의 날씨는 {0}으로 최저 기온은 {1}도, 최고 기온은 19도 입니다.".format("맑음", 15, 19))

제 생일은 6월 1일입니다.
원주율 3.14 * 원의 지름 3 = 원의 둘레 9.42 입니다.
오늘의 날씨는 맑음으로 최저 기온은 15도, 최고 기온은 19도 입니다.

In [ ]:
print("저는 {0}, {1}, {2}를 좋아합니다!".format("아이브", "뉴진스", "아일릿"))
print("저는 {2}, {1}, {0}를 좋아합니다!".format("아이브", "뉴진스", "아일릿"))

저는 아이브, 뉴진스, 아일릿를 좋아합니다!
저는 아일릿, 뉴진스, 아이브를 좋아합니다!

In [ ]:
name = "권민석"
age = 18
eyesight = 1.2

a = "이름 : {}".format(name)
b = "나이 : {}세".format(age)
c = "시력 : {}".format(eyesight)

print(a)
print(b)
print(c)

이름 : 권민석
나이 : 18세
시력 : 1.2

In [ ]:
a = "{} 주세요.".format("핫초코")
b = "커피 {0}잔, 녹차 {1}잔".format(2, 3)
c = "오렌지 {a}개, 바나나 {b}개".format(a=3, b=5)

print(a)
print(b)
print(c)

핫초코 주세요.
커피 2잔, 녹차 3잔
오렌지 3개, 바나나 5개

In [ ]:
x = 10
y = 20

print(f"{x} + {y}는 {x + y}입니다.")

10 + 20는 30입니다.

In [ ]:
name1 = "김민수"
age1 = 17
name2 = "이용주"
age2 = 15
print("이름 : %s 나이: %d" % (name1, age1))
print("이름: {0} 나이: {1}".format(name2, age2))

이름 : 김민수 나이: 17
이름: 이용주 나이: 15

In [ ]:
input("이름을 입력하세요.")

이름을 입력하세요.권민석

'권민석'

In [ ]:
s = input("인사말을 입력하세요> ")
print(s)

인사말을 입력하세요> 보이루
보이루

In [ ]:
print(type(3))
print(type(3.0))
print(type("3"))
print(type("True"))
print(type(True))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [ ]:
number = (input("숫자를 입력하세요"))
print(int(number) + 100)

숫자를 입력하세요10
110

In [ ]:
string_a = input('입력A>')
int_a = int(string_a)

string_b = input("입력B>")
int_b = int(string_b)

print("문자열 자료:", string_a + string_b)
print("숫자 자료:", int_a + int_b)

입력A>273
입력B>52
문자열 자료: 27352
숫자 자료: 325

In [ ]:
data = "15.38"
print(float(data))

15.38

In [ ]:
year = "2024"
print(int(year) - 1)
print(int(year) - 2)
print(int(year) - 3)

2023
2022
2021

In [ ]:
print(2 ** 3.0)
print(int("3") + float("5"))
print(str(4.0) * 2)
print(float(int(42 / 5)))
print(2 * (3 + 1))

8.0
8.0
4.04.0
8.0
8

In [ ]:
birth_month = 6
birth_day = 1
print("나의 생일은 " + str(birth_month) + "월 " + str(birth_day) + "일이다.")

나의 생일은 6월 1일이다.

In [ ]:
print(int(2.5) + int(3.8) > int(str(1) + str(2)))
print((12 >= 10 and not 3 > 4) or 3 ** 2 != 9)
print(True and (True or False))
print(not True or (True and False))
print(False == False)

False
True
True
False
True

In [ ]:
total = 254
min = total // 60
sec = total % 60
print(total, "초는", min, "분", sec, "초입니다.")

254 초는 4 분 14 초입니다.

In [ ]:
a = input("> 1번째 숫자 : ")
b = input("> 2번째 숫자 : ")
print()

print("{} + {} = {}".format((a), (b), int(a) + int(b)))

> 1번째 숫자 : 100
> 2번째 숫자 : 200

100 + 200 = 300

In [ ]:
age = 18
print("나이: "+str(age)+"세")

나이: 18세

In [ ]:
wage = 5
exchange = 1369.23

print("{}시간에 {}달러 벌었습니다.".format(1, wage*1) )
print("{}시간에 {}달러 벌었습니다." .format(5, wage*2) )
print("{}시간에 {:.1f}{}달러 벌었습니다." .format(1, wage * 1 * exchange, "달러"))
print("{}시간에 {:.1f}달러 벌었습니다." .format(5, wage * 5 * exchange, "원"))

1시간에 5달러 벌었습니다.
5시간에 10달러 벌었습니다.
1시간에 6846.1달러달러 벌었습니다.
5시간에 34230.8달러 벌었습니다.

In [ ]:
name = input("이름이 무엇입니까? ")
age = int(input("몇 살이예요? "))
height = float(input("키가 몇 인가요? "))

print("이름 : " , name)
print("나이 : " , age)
print("신장 : " , height)

이름이 무엇입니까? 권민석
몇 살이예요? 17
키가 몇 인가요? 170.0
이름 :  권민석
나이 :  17
신장 :  170.0

In [ ]:
print("==== 주차료 계산 ====")
주차시간 = int(input("주차시간을 입력해주세요."))
단위시간 = 주차시간 // 15
요금 = 단위시간 * 1000
print("주차시간: ", 주차시간)
print("주차요금: ", 요금)

==== 주차료 계산 ====
주차시간을 입력해주세요.25
주차시간:  25
주차요금:  1000

In [ ]:
weight = float(input("몸무게를 kg단위로 입력하세요 : "))
height = float(input("키를 미터 단위로 입력하세요: "))

bmi = (weight / (height ** 2))
print("당신의 bmi = %.2f" %(bmi))

몸무게를 kg단위로 입력하세요 : 60.5
키를 미터 단위로 입력하세요: 1.70
당신의 bmi = 20.93

In [ ]:
너비 = int(input("사각형의 너비는? : "))
높이 = int(input("사각형의 높이는? : "))
길이 = 2 * (너비 + 높이)
면적 = 너비 * 높이

print("사각형의 너비 : {}cm".format(너비))
print("사각형의 높이 : {}cm".format(높이))
print("둘레의 길이 : {}cm".format(길이))
print("면적 : {}cm2".format(면적))

사각형의 너비는? : 50
사각형의 높이는? : 50
사각형의 너비 : 50cm
사각형의 높이 : 50cm
둘레의 길이 : 200cm
면적 : 2500cm2

In [ ]:
money = int(input("투입한 돈 : "))
price = int(input("물건값 : "))

change = money - price
print("거스름돈 : ", change)
coin500s = change // 500
change = change % 500
coin100s = change // 100

print("500원 동전의 개수 : ", coin500s)
print("100원 동전의 개수 : ", coin100s)

투입한 돈 : 5000
물건값 : 2600
거스름돈 :  2400
500원 동전의 개수 :  4
100원 동전의 개수 :  4

In [ ]:
fruits = ['apple', 'banana', 'cherry']
num = [1, 2, 3, 4, 5]
mixed_list = [1, 'hello', 3.14, True]
empty_list = []
empty_list = list()

# 리스트

## 인덱싱

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list[0])
print(my_list[3])

In [ ]:
nested_list = [[1, 2, 3], [4, 5, 6,], [7, 8, 9]]
print(nested_list[1][0])

## 슬라이싱

In [ ]:
my_list = [1, 2, 3, 4, 5]
print(my_list[1:3])

[2, 3]

In [ ]:
my_list = [1,2,3,4,5]
print(my_list[0:4:2]) # list = [start:end:step(뛰어넘기)]

[1, 3]

## 연산-더하기

In [ ]:
list1 = [1,2,3,]
list2 = [4,5,6]
list3 = list1 + list2
print(list3)
print(list3 + [7])

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, 7]

## 연산-곱하기

In [ ]:
list1 = [1,2,3]
list2 = list1 * 3
print(list2)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

## 수정.삭제

In [ ]:
# 수정
a = [1,2,3,4,5]
a[2] = 7
print(a)

# 삭제
a = [1,2,3,4,5]
del a[2]
print(a)

[1, 2, 7, 4, 5]
[1, 2, 4, 5]

## 함수

### len()

In [ ]:
a = [3,1,5,4,9,6,2,7,8]
print(len(a))

9

### max()

In [ ]:
a = [3,1,5,4,9,6,2,7,8]
print(max(a))

9

In [ ]:
num = [3,"hello",3.14]

print(max(num)) # 대소비교 불가능

TypeError: '>' not supported between instances of 'str' and 'int'

### min()

In [ ]:
a = [3,1,5,4,9,6,2,7,8]
print(min(a))

1

### sum()

In [ ]:
a = [3,1,5,4,9,6,2,7,8]
print(sum(a)) # 리스트 안의 값 전부 합함

45

### sorted()

In [ ]:
a = [3,1,5,4,9,6,2,7,8]
print(sorted(a)) # 오름차순

a = [3,1,5,4,9,6,2,7,8]
print(sorted(a,reverse =True)) # 내림차순

[9, 8, 7, 6, 5, 4, 3, 2, 1]

## 메서드

### append()

In [ ]:
a = [1,2,3,4,5]
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

### insert()

In [ ]:
a = [1,2,3,4,5]
a.insert(2,'a')
print(a)

[1, 2, 'a', 3, 4, 5]

### remove()

In [ ]:
a = [1,2,3,4,5]
a.remove(a[2])
print(a)

a = [1,2,3,4,5]
a.remove(2)
print(a)

[1, 2, 4, 5]
[1, 3, 4, 5]

### count()

In [ ]:
b = [1,2,1,3,1,4,5]
count = b.count(1)
print(count)

3

### index()

In [ ]:
fruits = ['apple','banana','cherry','banana']
index = fruits.index('banana') # 'banana'가 몇번째에 처음으로 존재하는지
print(index)

1

### pop()

In [ ]:
a = [1,2,3,4,5]
a.pop(2) # 2번 자리 문자 제거
print(a)

a = [1,2,3,4,5]
a.pop() # 마지막 자리 문자 제거
print(a)

[1, 2, 4, 5]
[1, 2, 3, 4]
<class 'list'>

# 튜플

In [ ]:
a = (1,2,3,4,5)
mixed_list = (1,"hello",3.14,True)
str1 = 'apple'
tuple2 = tuple(str1) # 튜플 형식으로 변환
print(tuple2)

('a', 'p', 'p', 'l', 'e')

In [ ]:
numbers = (5,6,7,8)
n1,n2,n3,n4 = numbers
print(n1)

5

In [ ]:
tu = 'apple','banna','grape'
tu = n1,n2,n3
print(n1)

apple

## 튜플 인덱싱

In [ ]:
tu = ("cat",5,True)
print(tu[0])

print("Name :",tu[0])
print("Age :",tu[1])
print("Female :",tu[2])

cat
Name : cat
Age : 5
Female : True

In [ ]:
tu = (1,2,3,4,5)
print(tu[1:3])
print(tu[:3])
print(tu[1:])
print(tu[::-1]) # [start:end:step(뛰어넘기)]

(2, 3)
(1, 2, 3)
(2, 3, 4, 5)
(5, 4, 3, 2, 1)

## 튜플 연산

In [ ]:
tu1=(1,2,3)
tu2=tu1*3
print(tu2)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
tu1=(1,2,3)
tu1[2] = 7
print(tu1) # 튜플은 값의 수정, 삭제가 불가능함

TypeError: 'tuple' object does not support item assignment

In [ ]:
li = [1,2,3,4,5]
tu = tuple(li)
print(tu) # 리스트 -> 튜플

tu = (1,2,3,4,5)
li = list(tu)
print(li) # 튜플 -> 리스트

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]

# 딕셔너리

In [ ]:

person = {"name" : "eun woo","age":17,"city":"ulsan"}
number = {1:"one",2:"two",3:"three"}

print(type(number))

<class 'dict'>

In [ ]:
icecream = {"월드콘":2000,"메로나":900,"쌍쌍바":1000}
print(icecream["월드콘"])
print(icecream.get("죠스바"))

2000
None

In [ ]:
person = {"name" : "eun woo","age":17,"city":"ulsan"}
person["gender"] = "male" # 원래 gender 키가 없었기 때문에 추가됨
print(person)
person["age"] = 27 # 원래 age 키가 있으므로 수정됨
print(person)

{'name': 'eun woo', 'age': 17, 'city': 'ulsan', 'gender': 'male'}
{'name': 'eun woo', 'age': 27, 'city': 'ulsan', 'gender': 'male'}

## del()

In [ ]:
person = {"name" : "eun woo","age":17,"city":"ulsan"}
del person["city"]

print(person)

{'name': 'eun woo', 'age': 17}

## clear()

In [ ]:
person = {"name" : "eun woo","age":17,"city":"ulsan"}
person.clear()

print(person)

{}

## keys()

In [ ]:
person = {"name" : "eun woo","age":17,"city":"ulsan"}
print(person.keys())

dict_keys(['name', 'age', 'city'])

## values()

In [ ]:
person = {"name" : "eun woo","age":17,"city":"ulsan"}
print(person.values())

dict_values(['eun woo', 17, 'ulsan'])

## items()

In [ ]:
person = {"name" : "eun woo","age":17,"city":"ulsan"}

print(person.items())
print(list(person.items()))  # key, value 묶음 = 튜플, 전체 = list
print(tuple(person.items())) # 전체 튜플

dict_items([('name', 'eun woo'), ('age', 17), ('city', 'ulsan')])
[('name', 'eun woo'), ('age', 17), ('city', 'ulsan')]
(('name', 'eun woo'), ('age', 17), ('city', 'ulsan'))

## list(),tuple()

In [ ]:
person = {"name" : "eun woo","age":17,"city":"ulsan"}
print(list(person))

person = {"name" : "eun woo","age":17,"city":"ulsan"}
print(tuple(person))

['name', 'age', 'city']
('name', 'age', 'city')

## zip(),dict()

In [ ]:
# zip()
numbers = [1,2,3]
letters = ["A","B,","c"]
for i in range(3): # 3개의 묶음으로
  pair = (numbers[i], letters[i])
  print(pair)

numbers = [1,2,3]
letters = ["A","B,","c"]
for i in zip(numbers,letters):
  print(i)

(1, 'A')
(2, 'B,')
(3, 'c')
(1, 'A')
(2, 'B,')
(3, 'c')

In [ ]:
key = ['name','age','city']
value = ['eun woo',17,'ulsan']

person=dict(zip(key,value))
print(person)

{'name': 'eun woo', 'age': 17, 'city': 'ulsan'}

# 문제

In [ ]:
num1 = input("문자열을 입력하세요.").split() # 공백을 기준으로 자름
print(num1)

문자열을 입력하세요.심동욱 바보
['심동욱', '바보']

In [ ]:
# 전체를 하나씩 자름
num2 = list(input("문자를 입력하세요."))
print(num2)

문자를 입력하세요.ㅋ
['ㅋ']

In [ ]:
#숫자를 하나씩 입력받아
num3 = []
num3.append(int(input("숫자를입력")))
num3.append(int(input("숫자를입력")))
num3.append(int(input("숫자를입력")))

print(num3)

숫자를입력1
숫자를입력2
숫자를입력3
[1, 2, 3]

In [ ]:
# 숫자 여러개 입력받기
num4 = list(map(int,input("숫자입력").split()))
print("합 :",num4)

숫자입력1 5 6 7 7 8
합 : [1, 5, 6, 7, 7, 8]

In [ ]:
# 숫자 입력받아 합, 평균, 최소, 최대, 중간값
num5 = list(map(int,input("숫자입력 ").split()))
num5.sort()
# print("합:", sum(num5))
# print("평균:", sum(num5)/len(num5))
# print("최솟값:", num5[0])
print("최댓값:", num5[-1])
print("중간값:", num5[len(num5) // 2 ])

숫자입력1 4 6 7
최댓값: 7
중간값: 6

In [ ]:
xrp = [{"날짜" : "2022-06-01", "open" : 535, "high" : 565, "low" : 510, "close" : 533}
      , {"날짜" : "2022-06-02", "open" : 533, "high" : 546, "low" : 493, "close" : 504}
      , {"날짜" : "2022-06-03", "open" : 503, "high" : 518, "low" : 476, "close" : 498}
       ]
print(type(xrp))

<class 'list'>